###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploads/
/public/diplomas/
/var/
/vendor/
/symfony
###< symfony/framework-bundle ###
# IDE
/.idea/

# PhpDocumentor
/doc/

#files
*~
.scannerwork/

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.phpcs-cache
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

report.xml
node_modules
