{% trans_default_domain 'student' %}

{% set config = {  list : false, }|merge(config|default({})) %}
{% set listPhone = '' %}

{% if student.getListPhones is not empty %}
    <a href="tel:{{ student.getListPhones|first }}" class="phone pointer">
        {{ student.getListPhones|first }}
    </a>
    {% if student.getListPhones|length >  1 %}
        | <a href="tel:{{ student.getListPhones|first }}" class="phone pointer">
        {{ student.getListPhones|first }}
    </a>
    {% endif %}
{% endif %}
