{% extends 'teacher/common.html.twig' %}

{% trans_default_domain 'teacher' %}

{% set title = 'title.new'|trans %}

{% set breadcrumbs = { ('' ~ title) : path('app_teacher_index')}|merge(breadcrumbs|default({})) %}

{% block errors %}{{ form_errors(form) }}{% endblock errors %}

{% block body %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-exclamation-triangle"></i>
        {% trans %}alert.steps_new_teacher{% endtrans %}
    </div>

    {% embed '_inspina/embed/ibox.html.twig' %}
        {% trans_default_domain "teacher" %}
        {% block title 'title.form_new'|trans %}
        {% block config '' %}
        {% block content %}
            {% include 'teacher/_form.html.twig' %}
        {% endblock %}
    {% endembed %}

{% endblock %}
