{% extends 'teacher/common.html.twig' %}

{% trans_default_domain "teacher" %}

{% set title = 'title.page'|trans({ '%name%' : teacher.name }) %}

{% set breadcrumbs = { ('' ~ title) : path('app_teacher_index')}|merge(breadcrumbs|default({})) %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            {% embed '_inspina/embed/ibox.html.twig' %}
                {% block title %} {% trans %}Information Teacher{% endtrans %} {% endblock %}
                {% block config '' %}
                {% block content %} {% include 'person/show_content.html.twig' with { person : person } %} {% endblock %}
            {% endembed %}
        </div>

        <div class="col-md-4">
            {% embed '_inspina/embed/ibox.html.twig' %}
                {% block title %} {% trans %}More informations{% endtrans %} {% endblock %}
                {% block config '' %}
                {% block content %}
                    <dl class="dl-horizontal">
                        <dt>{% trans %}Author{% endtrans %}</dt>
                        <dd><a href="">{{ teacher.author.nameComplete }}</a></dd>

                        <dt>{% trans %}Created{% endtrans %}</dt>
                        <dd>{{ teacher.createdAt.format('d/m/Y H:i:s') }}</dd>

                        <dt>{% trans %}Updated{% endtrans %}</dt>
                        <dd>{{ teacher.updatedAt.format('d/m/Y H:i:s') }}</dd>
                    </dl>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

{% endblock %}
