/* 
    Document   : header
    Created on : 8 nov. 2013, 13:55:25
    Author     : fahari
    Description:
        Purpose of the stylesheet follows.
*/

section.container {
  margin-top: 60px;
}

.menu-header {
    margin-bottom: 10px;
}
