/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 1 mars 2014, 08:14:35
    Author     : fardus
*/

.dropdown-table {
  top: inherit;
  left: inherit;
}

.comment-block footer {
    background: transparent none repeat scroll 0 0;
}

.comment-text {
    font-size: 12px;
    padding: 2px 20px;
    text-align: justify;
}

.tab-content {
    padding-top: 1.5rem;
}