{% extends '_inspina/layout.html.twig' %}

{% block title %}Hello GoogleController!{% endblock %}

{% block body %}
    <div class="panel panel-default">
        {% include 'search.html.twig' %}

        <div class="panel">
            <div class="panel-heading clearfix">
                <span>Authentification Google API</span>
            </div>

            <div class="panel-body">
                <div class="text-center"><a href="{{ authUrl }}" target="_blank">Link to Authentificate </a></div>
                {% block form %}
                    {% include "form.html.twig" %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
