<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}MANAGE{% endblock %}</title>
        {% block metas '' %}

        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}

        {% block optionnals '' %}
    </head>
    <body {{ body_attr|default('')|raw }}>
        {% block container '' %}
        {% block javascripts '' %}
    </body>
</html>
