{% extends 'package_student_period/common.html.twig' %}

{% set title = 'Delete PackageStudentPeriod\'s entry'|trans %}

{% block errors %}{{ form_errors(delete_form) }}{% endblock errors %}

{% block content %}
    <p class="alert alert-danger">{% trans with {'%entity%': 'PackageStudentPeriod'} %}Please confirm you want to delete this %entity%'s entry.{% endtrans %}</p>
    {% include "form.html.twig" %}
{% endblock %}
