<div class="widget style1 {% block class 'navy-bg' %}">
    <div class="row">
        <div class="col-xs-4">
            <i class="fa {% block icon '' %} fa-5x"></i>
        </div>
        <div class="col-xs-8 text-right">
            <span> {% block text '' %} </span>
            <h2 class="font-bold">{% block value '' %}</h2>
        </div>
    </div>
</div>
