{% extends 'person/common.html.twig' %}

{% trans_default_domain 'person' %}

{% set title = 'Delete Person\'s entry'|trans %}

{% block errors %}{{ form_errors(delete_form) }}{% endblock errors %}

{% block body %}
    <div class="panel panel-danger">
        <div class="panel-heading clearfix">
            <span>{% trans %}delete_person{% endtrans %}</span>
        </div>
        <div class="panel-body">

            <p class="alert alert-danger">{% trans with {'%entity%': 'Person'} %}Please confirm you want to delete this %entity%'s entry.{% endtrans %}</p>
            {% include "form.html.twig" %}
        </div>
    </div>
{% endblock %}