{% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ asset('img/logo-custom.png') }}" type="image/x-icon" />
        <title>{% block title %}{% endblock %}</title>
        {% block metas %}{% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block optionals %}{% endblock %}
    </head>
    <body>
        {% block container %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
