{% extends "::layout.html.twig" %}

{% block title %}
  Madrasse Gestion - {{ parent() }}
{% endblock %}
  
{% block container %}
    <h2 class='text-center page-header'>Madrasse Msadawaheri</h2>
    <h2 class='text-center'><small>Bienvenue sur l'outil de Gestion de Madrasse Msadawaheri.</small></h2>
    <div class="panel panel-default" style="width:400px;margin:0 auto;">
        <div class="panel-body text-center">
            <a href="{{ path('app_homepage') }}" class="btn btn-default btn-lg btn-block">Administration</a>
            <a href='' class="btn btn-default btn-lg btn-block">Gestion Materiel/Livres</a>
            <a href='{{ path('app_user_listuser')}}' class="btn btn-default btn-lg btn-block">Utilisateurs</a>
        </div>
    </div>
{% endblock %}